################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FuelConsumptionCentralMonitoringSystem/FuelConsumptionCentralMonitoringSystem/obj
/.vs
/FuelConsumptionCentralMonitoringSystem/FuelConsumptionCentralMonitoringSystem/bin/Debug/netcoreapp3.1
